<div class="city">
<ul>
  <% @locations.each do |location| %>
      <li><%= link_to location.name, location %></li>
  <% end %>
</ul>

</div>
  <% if session[:access_token] %>
    <%= link_to "Logout #{session[:user_name]}", '/logout' %>
  <% else %>
  <% end %>

<p> Your Topics </p>
  <span class="top"></span>
  <span class="bottom"></span>
</div>

<!-- # Show contents filtered by specific city as image - link to source article  -->
<div class="hexagons">
  <% @contents = Content.all %>
  <% @contents.each do |content| %>
    <% content_url = content.content_url %>
    <% content_image = content.image_url %>
    <a href=<%= content_url %> style="background-image:url('<%= content_image %>')"</a>

  <% end %>
</div>
