<!DOCTYPE html>
<html>
<div class="city">
	<ul>
	<% @locations.each do |location| %>
	    <li><%= link_to location.name, location %></li>
	<% end %>
	</ul>
</div>
<p> Trending </p>
    <span class="top"></span>
    <span class="bottom"></span>
</div>

<!-- # display all contents from each city as image linking to source article -->
<div class="hexagons">
	<!-- i'm wondering what Content.each does here on line 18, also some indentation issues here -->
	<% @contents = Content.each %>
		<% @contents.each do |content| %>
  		<% content_url = content.content_url %>
  			<% content_image = content.image_url %>
  				<a href=<%= content_url %> style="background-image:url('<%= content_image %>')"</a>
<% end %>
</div>
</html>
