

<h1><%= @location.name %></h1>

<section class="content-display">
  <h3> <%= @location.name %> Trending</h3>
  <ul>
    <% @location.contents.each do |content| %>
    <% content_url = content.content_url %>
    <span class="top"></span>
    <span class="bottom"></span>
</div>
    <% content_image = content.image_url %>
      <a href=<%= content_url %>><img src=<%= content_image %>></a>
    <% end %></ul>
  </ul>
</section>
