<h1><%= @location.name %></h1>
  <section class="content-display">
<h3> <%= @location.name %> Trending</h3>
<ul> <!-- # Sort contents by location - display as images  -->
  <!-- some indentation issues here, we want to keep our database queries in the controller and not the view -->
    <% @location.contents.each do |content| %>
      <% content_url = content.content_url %>
        <span class="top"></span>
          <span class="bottom"></span>
            <% content_image = content.image_url %>
              <a href=<%= content_url %>><img src=<%= content_image %>></a>
    <% end %>
  </ul>
</section>
